body {
	font-family: sans-serif;
	max-width: 800px;
	margin: 20px auto;
	background: #f4f4f4;
	padding: 20px;
}
.day-block {
	background: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	border-left: 5px solid #ff4757;
}
.event-block {
	margin-top: 10px;
}
.event-row {
	display: flex;
	gap: 10px;
	margin-bottom: 8px;
	align-items: center;
}
input[type='text'],
select {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 8px;
}
.opis-input {
	flex-grow: 1;
}
.filters {
	margin-bottom: 20px;
	background: #e0e0e0;
	padding: 10px;
	border-radius: 5px;
}
textarea {
	width: 100%;
    height: 300px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 8px;
	box-sizing: border-box;
}
button {
	background: #2ed573;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}
button:hover {
	background: #26af5f;
}
.checkboxes {
	margin: 8px 0;
}
.checkboxes label {
	margin-right: 10px;
	display: inline-block;
}
